   <!-- <% const name ='mario' %> -->

   <nav>
    <div class="site-title">
        <!-- <p><%= name %></p> -->
        <a href="/"><h1>XMeme</h1></a>
        <br>
        <p>Be the reason someone smiles today......</p>
    </div>
    <ul>
        <!-- <li><a href="/">Memes</a></li> -->
        <li><a href="/about"><button>About</button></a></li>
        <li ><a href="/memes/create"><button class="newbutton">Create</button></a></li>
        
        <!-- <li>ffvrvv</li> -->
    </ul>
</nav>
