<!DOCTYPE html>
<html lang="en">
    <%-  include('./partials/head.ejs') %>
<body>
    
    <%-  include('./partials/nav.ejs') %>
    
    <div class="about content">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia tempore asperiores aspernatur alias sit cumque quis maiores eius provident? Consectetur, ea voluptas architecto ad non enim commodi provident voluptates a!</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti perferendis nobis minima repellat aut temporibus nostrum, nemo debitis doloribus nulla optio esse maxime soluta cum sunt voluptas ad corrupti possimus?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quisquam non accusamus, totam corporis repellendus expedita beatae magnam aspernatur natus accusantium officia perspiciatis, libero ipsam placeat eos. Sint, reiciendis eaque?</p>
    </div>
    <%-  include('./partials/footer.ejs') %>
</body>
</html>